body::-webkit-scrollbar {
    display: none;
}

#graql-string::-webkit-scrollbar {
    display: none;
}


#graql-string {
    box-sizing: border-box;
}

textarea{
    font-family: Monaco,'Courier New',Terminal,monospace;
    resize:none;
}

legend.meta-list-legend{
    margin-bottom:0px;
    font-size: small;
    border-bottom:0px;
}

button.instance-btn{
    margin:2px;
}

button.role-btn{
    margin:2px;
}